<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/styles/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/comments.css">
  <meta charset="UTF-8">
  <title>MY APP</title>  
</head>
<body>
  <div class='container-fluid'>
    <div class="row justify-content-md-center">
      <main class='col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content'>
        <h1> May Node and Express be with you. </h1>
        <form action="/quotes" method="POST">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" placeholder="name" name="name">
          </div>
          <div class="form-group">
            <label>Comment</label>
            <input type="text" class="form-control" placeholder="quote" name="quote">
          </div>
          <button type="submit" class='btn btn-secondary'>Submit</button>
        </form>
        <hr>
        <div class="blog-comment">
          <div class='row'>
            <div class='col-md-6'>
              <h3>Comments</h3>
            </div>
            <div class='col-md-6 text-right' >
              <button id="update-button" class='btn btn-primary'>Changing Yoda’s quote</button>
              <button id="delete-button" class='btn btn-danger'>Delete Darth Vadar's quote</button>  
            </div>
          </div>          
          <div id="message"></div>        
          <hr/>
            <ul class="comments">
              <!-- Loop through quotes -->
              <% for(var i = 0; i < quotes.length; i++) {%>
                <li class="clearfix">
                  <% if(quotes[i].name.toUpperCase() == 'YODA') { %>
                    <img src="svg/yoda.svg" class="avatar" alt="">
                  <% }else if (quotes[i].name.toUpperCase() == 'DARTH VADER') { %>
                    <img src="svg/darthvader.svg" class="avatar" alt="">
                  <% }else{ %>
                    <img src="svg/c3p0.svg" class="avatar" alt="">
                  <% } %>
				            <div class="post-comments">
                      <p class="meta"><a href="#"><%= quotes[i].name %></a> says : <i class="pull-right">                        
                          <button class='btn btn-sm btn-secondary' onclick="openCommentBox('<%= quotes[i]._id %>')"><small>Reply</small></button>
                        </i>
                      </p>
                      <p>
                        <%= quotes[i].quote %>
                      </p>
                    </div>  
                    <% if(quotes[i].subcomment) { %>
                      <ul class="comments">                
                        <% for(var j = 0; j < quotes[i].subcomment.length; j++) {%>      
                          <li class="clearfix">
                              <% if(quotes[i].subcomment[j].name.toUpperCase() == 'YODA') { %>
                                <img src="svg/yoda.svg" class="avatar" alt="">
                              <% }else if (quotes[i].subcomment[j].name.toUpperCase() == 'DARTH VADER') { %>
                                <img src="svg/darthvader.svg" class="avatar" alt="">
                              <% }else if(quotes[i].name.toUpperCase() == 'YODA') { %>
                                <img src="svg/obiwan.svg" class="avatar" alt="">
                              <% }else if (quotes[i].name.toUpperCase() == 'DARTH VADER') { %>
                                <img src="svg/stormtrooper.svg" class="avatar" alt="">
                              <% }else{ %>
                                  <img src="svg/bb8.svg" class="avatar" alt="">
                              <% } %>                          
                              <div class="post-comments">
                                  <p class="meta">Dec 20, 2014 <a href="#"><%= quotes[i].subcomment[j].name %></a> says : <i class="pull-right">
                                      <button class='btn btn-sm btn-secondary' onclick="openCommentBox('<%= quotes[i]._id %>')"><small>Reply</small></button>
                                    </i>
                                  </p>
                                  <p>
                                    <%= quotes[i].subcomment[j].quote %>
                                  </p>
                              </div>
                          </li>
                        <% } %>                
                    </ul>                                    
                  <% } %>                                               
                  <div id="subcomment_<%= quotes[i]._id %>" class="post-comments hide">
                    <form>                      
                      <p class="meta">
                        <input id='name_<%= quotes[i]._id %>' type="text" class="form-control" placeholder="Name" name="name">
                      </p>                     
                      <div class="input-group">
                        <input id='comment_<%= quotes[i]._id %>' type="text" class="form-control" placeholder="Comment" name="Comment">
                        <div class="input-group-append">
                          <button type="button" class='btn btn-primary pull-right' onclick="subComment('<%= quotes[i]._id %>')">Comment</button>
                        </div>
                      </div>                                                                     
                    </form>                                        
                  </div>             
                </li>
              <% } %>
            </ul>
          </div>
        </div>
        <hr>        
      </main>
    </div>
  </div>
</body>
<script src="/main.js"></script>
</html>